.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 670px;
  background-image: url("../../assets/Home/Screenshot\ \(30\).png");
  background-repeat: no-repeat;
  background-size: cover;
}
